<%- include("templates/head") %>
<body>
    <%- include("templates/header") %>
    <main class="home">
        <h1> Las Mejores Memorias Ram de Mercado libre</h1>
        <a href="servicios"><h1>ir a ver</h1></a>
    </main>
    <%- include("templates/footer") %>
</body>
</html>