<%- include("templates/head") %>
<body>
    <%- include("templates/header") %>
    <main>
        <p>Esta pagina esta dedicada a motrarte las mejores memorias ram del mercado</p>
    </main>
    <%- include("templates/footer") %>
</body>
</html>